*{
    background-color: grey;
}
#p{
    color: black;
    text-align: center;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-shadow: 5px 3px 4px red;
    box-shadow: 4px 2px 5px black;
    padding: 20px;
    margin: 15px;
    background-color: burlywood;
    border-radius: 10px;
    position: relative;
    top: 15px;
    


}
#p1{
   /*yazı hakkında*/
    color:#00d5f6;
    text-align: center;
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    text-shadow: 5px 3px 4px gray;
    /*kutu hakkında*/ 
    border-style: double;
    border-width: 10px;
    border-color: bisque springgreen seashell aquamarine;
    padding: 20px 10px 8px 7px ;
    margin: 15px;
    background-color: darkcyan;
    border-radius: 10px 7px 4px 15px ;
    position: relative;
    top: 15px;
}
#p2{
    /*yazı hakkında*/
    color:#88aefc;
    text-align: center;
    font-size: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-shadow: 7px 5px 1px red;
    /*kutu hakkında*/ 
    border-style: solid;
    border-width: 10px;
    border-color: red #558424 saddlebrown #412355;
    padding: 5px 15px 12px 20px ;
    margin: 15px;
    background-color: #123547;
    border-radius: 10px 25px 14px 30px ;
    box-shadow: 7px 5px 2px #123547;
    position: relative;
    top: 15px;
}
#p3{
     /*yazı hakkında*/
     color:#886efc;
     text-align: center;
     font-size: 70px;
     font-family:Arial, Helvetica, sans-serif;
     text-shadow: 7px 5px 1px blueviolet;
     /*kutu hakkında*/ 
     border-style: dotted;
     border-width: 10px;
     border-color: red #552724 azure #412425;
     padding: 5px 15px 12px 20px ;
     margin: 15px;
     background-color: #ffff41;
     border-radius: 10px 1px 14px 30px ;
     box-shadow: 7px 5px 2px #1ff547;
     position: relative;
     top: 15px;
}
#p4{
    /*yazı hakkında*/
    color:#8899aa;
    text-align: center;
    font-size: 70px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 7px 5px 1px white;
    /*kutu hakkında*/ 
    border-style:dashed;
    border-width: 15px;
    border-color: sandybrown aliceblue darkgoldenrod chocolate;
    padding: 24px 15px 30px 40px ;
    margin: 15px;
    background-color: #ff6585;
    border-radius: 10px 1px  30px ;
    box-shadow: 10px 7px 3px #ff6585;
    position: relative;
    top: 15px;
}
#p5{
    /*yazı hakkında*/
    color:#889944;
    text-align: center;
    font-size: 70px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-shadow: 7px 5px 1px hotpink;
    /*kutu hakkında*/ 
    border-style:groove;
    border-width: 10px;
    border-color: sandybrown aliceblue violet papayawhip;
    padding: 15px 10px 15px 10px ;
    margin: 15px;
    background-color: wheat;
    border-radius: 18px 28px ;
    box-shadow: 10px 7px 3px #55cc14;
    position: relative;
    top: 15px;
}
